:root {
  --primary-color: #1c9ee2;
}

.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid transparent;
  font-size: 18px;
  padding: 0.85em 1.6em;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-weight: 600;
  line-height: 1.6;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btn-primary:hover {
  border-color: #198bc7;
  background-color: #198bc7;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.btn-outline-primary:hover {
  background-color: transparent !important;
  border-color: #198bc7;
  color: #198bc7;
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btn-outline-white:hover {
  background-color: white;
  color: var(--primary-color);
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}

.container-fluid {
  max-width: 1600px;
  padding: 0 27px !important;
}

a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

.color-primary {
  color: var(--primary-color);
}

.color-white {
  color: white;
}

header {
  color: #cecece;
}

header .main-nav {
  height: 77px;
  border-bottom: 1px solid currentColor;
}

header .main-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.045em;
  line-height: 1.5em;
  white-space: nowrap;
}

header .main-nav .nav-item .nav-link {
  color: inherit !important;
}

header .main-nav .btn {
  padding: 0.65em 24px;
  border: none;
  letter-spacing: -0.05px;
  line-height: 1.5;
}

header .main-nav .btn.btn-outline-primary {
  -webkit-box-shadow: inset 0 0 0 1px currentColor;
          box-shadow: inset 0 0 0 1px currentColor;
}

header .main-nav .logo {
  -webkit-transition: height 0.3s linear, width 0.3s linear, margin 0.3s linear;
  transition: height 0.3s linear, width 0.3s linear, margin 0.3s linear;
}

header .main-nav .logo img {
  max-width: 175px;
}

header .main-nav ul.navbar-nav .nav-item .nav-link {
  padding: 19px;
}

header .main-nav ul.navbar-nav li.has-sub-navigation:hover .sub-navigation {
  display: -ms-grid;
  display: grid;
  height: auto;
  opacity: 1;
}

header .main-nav ul.navbar-nav li.has-sub-navigation:hover a::after {
  bottom: -3px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

header .main-nav ul.navbar-nav li.has-sub-navigation > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-nav ul.navbar-nav li.has-sub-navigation > a span {
  margin-right: 8px;
}

header .main-nav ul.navbar-nav li.has-sub-navigation > a::after {
  content: "";
  border-bottom: 1px solid #6c757d;
  border-right: 1px solid #6c757d;
  position: relative;
  bottom: 1px;
  width: 8px;
  height: 8px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

header .main-nav ul.navbar-nav li:hover > a {
  color: var(--primary-color);
}

header .main-nav .sub-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  height: 0;
  opacity: 0;
  max-width: 445px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper {
  max-width: 672px;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon {
  padding: 20px;
  border-radius: 5px;
  line-height: 20px;
  position: relative;
  letter-spacing: normal;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-icon {
  margin-right: 20px;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-icon img {
  width: 40px;
  height: auto;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-info .sub-navigation-title {
  font-size: 16px;
  font-weight: 600;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-info .sub-navigation-title[data-icon] {
  position: relative;
  display: inline-block;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-info .sub-navigation-title[data-icon]::before {
  content: "";
  background: #1c9ee2;
  display: block;
  height: 6px;
  left: calc(100% + 10px);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 6px;
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon .sub-navigation-info .sub-navigation-title[data-icon]::after {
  background: #1c9ee2;
  border-radius: 2px;
  color: #fff;
  content: attr(data-icon);
  display: block;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  left: calc(100% + 13px);
  line-height: 1;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .main-nav .sub-navigation.sub-navigation-with-icon-wrapper .sub-navigation-with-icon p {
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  white-space: normal;
  margin: 0;
}

header .main-nav .sub-navigation ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

header .main-nav .sub-navigation ul li {
  border-radius: 5px;
  cursor: pointer;
  line-height: 20px;
  margin: 0;
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
}

header .main-nav .sub-navigation ul li:hover {
  background-color: #f4fafd;
}

header .main-nav .sub-navigation ul li.sub-navigation-headline {
  margin: 15px 0 5px;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
}

header .main-nav .sub-navigation ul li.sub-navigation-headline a,
header .main-nav .sub-navigation ul li.sub-navigation-headline a > strong {
  font-weight: 600;
  font-size: 16px;
}

header .main-nav .sub-navigation ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

header .main-nav .sub-navigation .sub-navigation-border-top {
  margin-top: 28px;
  padding: 0;
  position: relative;
}

header .main-nav .sub-navigation .sub-navigation-border-top:hover::after {
  content: none;
}

header .main-nav .sub-navigation .sub-navigation-border-top a {
  display: -ms-grid;
  display: grid;
  padding: 20px 10px 10px;
  place-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

header .main-nav .sub-navigation .sub-navigation-border-top::after {
  content: "";
  background: #ced4da;
  display: block;
  height: 1px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 0;
}

header .top-nav {
  background-color: #222529;
  height: 45px;
}

header .top-nav .cisco-logo img {
  height: auto;
  width: 45px;
}

header .top-nav .cisco-badge-text {
  font-size: 13px;
}

header .top-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 22.5px;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.045em;
  line-height: 1.5em;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

header .top-nav .nav-item:hover .nav-link {
  opacity: 1;
}

header .top-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding: 0;
}

header .top-nav .search-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  width: 22.5px;
  height: 22.5px;
  font-size: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-nav .btn-outline-white {
  border: 1px solid;
  padding: 3.6px 14.4px;
  border-radius: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: inherit;
  color: inherit;
  line-height: 1.2em;
  letter-spacing: inherit;
}

header .top-nav .btn-outline-white:hover {
  background-color: transparent;
  color: white !important;
}

footer {
  background: #e9ecef;
  border-top: 1px solid #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.045em;
  line-height: 1.9;
  min-height: 200px;
  overflow: visible;
  position: relative;
  padding-bottom: 85px;
}

footer strong {
  font-weight: 700 !important;
}

footer .inner {
  padding: 30px 0 0 0;
}

footer .inner .footer-row:not(:last-of-type) {
  margin-bottom: 40px;
}

footer .footer-additional-text {
  padding-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

footer .footer-additional-text a {
  color: #000;
  font-weight: 300;
  outline: 0;
  text-decoration: none;
}

footer .footer-additional-text a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

footer .btn-primary.btn {
  width: 100%;
  border-radius: 0;
  text-align: center;
  border: 2px solid transparent;
  padding: 0.85em 1.6em;
}

footer h6 {
  font-weight: 600;
  color: #212529;
  line-height: 1.9;
  margin-bottom: 11px;
  opacity: 1;
  top: 0;
  font-size: 18px;
}

footer .footer-top ul {
  list-style: none;
  padding: 0;
}

footer .footer-top ul li {
  margin: 0;
  position: relative;
}

footer .footer-top ul li a {
  color: #000;
  font-weight: 300;
  outline: 0;
  text-decoration: none;
}

footer .footer-top ul li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

footer .footer-top ul li span {
  background-color: #ffa20d;
  border-radius: 8px 0;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 0.6em;
  font-weight: 600;
  line-height: 1;
  margin-left: 1rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
  bottom: 5px;
  margin-left: 9px;
  padding: 0.7em 1em 0.4em;
  position: absolute;
}

footer .google-play-app-store img {
  max-width: 170px;
}

footer .social {
  margin: 0 15px 15px 0;
  color: #000;
  font-weight: 300;
  outline: 0;
  text-decoration: none;
  background-color: #dfdfdf;
  border: 0 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

footer .social:hover {
  color: #fff;
}

footer .social:hover.linkedin {
  background-color: #0077b5;
}

footer .social:hover.instagram {
  background-color: #e1306c;
}

footer .social:hover.facebook {
  background-color: #3b5998;
}

footer .social:hover.youtube {
  background-color: #cd201f;
}

footer .social:hover.xing {
  background-color: #026466;
}

footer .social:hover.twitter {
  background-color: #55acee;
}

footer .footer-bottom {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
  font-size: 14px;
  margin-top: 40px;
  padding-top: 40px;
  position: relative;
}

footer .footer-bottom p {
  margin: 0;
}

footer .footer-bottom p a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

footer .footer-bottom a {
  color: #000;
  font-weight: 600;
  outline: 0;
  text-decoration: none;
  margin: 0 6px;
}

footer .footer-bottom .logo img,
footer .footer-bottom .logo svg {
  height: 29px !important;
  width: auto !important;
}

footer .footer-bottom::before {
  content: "";
  background: #adb5bd;
  bottom: 100%;
  display: block;
  height: 1px;
  left: 15px;
  position: absolute;
  right: 15px;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

footer .footer-bottom .cisco-badge-text {
  color: #adb5bd;
  display: inline;
  padding: 0 20px 0 0;
}

footer .footer-bottom .cisco-image {
  margin: 4px 0 0;
}

footer .footer-bottom .cisco-image img,
footer .footer-bottom .cisco-image svg {
  fill: #adb5bd;
  height: 40px;
  margin-top: -10px;
  width: 75px;
}

footer .footer-bottom ul {
  list-style: none;
  padding: 0;
}

footer .footer-bottom ul li {
  margin: 0;
  position: relative;
}

footer .footer-bottom .country-selector {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  width: 230px;
}

footer .footer-bottom .country-selector:hover .country-selector-list {
  display: block;
}

footer .footer-bottom .country-selector-active {
  grid-column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 120px 10px;
      grid-template-columns: 30px 120px 10px;
  align-items: center;
  height: 55px;
  cursor: pointer;
}

footer .footer-bottom .country-selector-icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .country-selector-icon svg,
footer .footer-bottom .country-selector-icon img {
  max-width: 100%;
  height: auto;
}

footer .footer-bottom .country-selector-country {
  font-weight: 600;
}

footer .footer-bottom .country-selector-arrow::after {
  content: "";
  border-top: 1px solid #6c757d;
  border-right: 1px solid #6c757d;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: block;
  border-bottom: 0px solid transparent;
  width: 8.3px;
  height: 8.3px;
}

footer .footer-bottom .country-selector-list {
  padding: 10px 18px;
  margin: 0 0 1.5rem;
  background: #fff;
  border-radius: 5px;
  bottom: 28px;
  -webkit-box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.04);
          box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.04);
  display: none;
  position: absolute;
  width: 220px;
}

footer .footer-bottom .country-selector-list::after {
  content: "";
  border-color: #fff transparent;
  border-style: solid;
  border-width: 12px 10px 0;
  bottom: -12px;
  display: block;
  left: 176px;
  position: absolute;
  width: 0;
  z-index: 1;
}

footer .footer-bottom .country-selector-entry {
  font-size: 16px;
  line-height: 34px;
  cursor: default;
}

footer .footer-bottom .country-selector-entry a {
  color: #6c757d;
  display: block;
  font-weight: 400;
}

footer .footer-bottom .country-selector-entry a:hover {
  color: #000;
}

.hero-image {
  background-image: url("../imgs/header.jpg");
  background-position: 50%;
  background-size: cover;
  padding: 33px 0;
  min-height: 630px;
  position: relative;
}

.hero-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 0;
}

.hero-image .text-content {
  max-width: 48.31rem;
  font-size: 18px;
  z-index: 1;
  position: relative;
}

.hero-image h1 {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2em;
  margin: 0 0 1em;
}

.hero-image p {
  font-size: 26.1px;
  line-height: 1.4em;
  margin-bottom: 36px;
  color: #000;
}

.hero-image p strong {
  color: var(--primary-color);
  font-weight: 400;
}

.hero-image .block-icontext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.hero-image .block-icontext .icon {
  margin-right: 12px;
}

.hero-image .block-icontext .icon img {
  height: 20px;
  width: auto;
}

.trust-elements {
  border-top: 1px solid #cecece;
  overflow: hidden;
}

.trust-elements .inner {
  width: 100%;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 27px 0;
}

.trust-elements .heading {
  margin-bottom: 18px;
  width: 100%;
}

.trust-elements .heading h2 {
  margin: 0;
  color: #6c757d;
  font-size: 18px;
  line-height: 1.4em;
}

.trust-elements .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 54px;
          column-gap: 54px;
}

.trust-elements .logos .logo {
  height: 27px;
}

.trust-elements .logos img {
  height: 100%;
  width: auto;
  filter: saturate(0) contrast(0.01) brightness(1.5);
  -webkit-filter: saturate(0) contrast(0.01) brightness(1.5);
}

.tabs-section {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4;
  padding-top: 18px;
}

.tabs-section .inner {
  height: 100%;
  margin: 0 auto;
  padding: 54px 0 108px 0;
  min-height: 30em;
}

.tabs-section .inner .nav-tabs {
  margin-bottom: 18px;
}

.tabs-section .inner .nav-tabs .nav-item {
  width: 50%;
}

.tabs-section .inner .nav-tabs .nav-item .nav-link {
  margin: 0;
  background-color: transparent;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  letter-spacing: 0.25px;
  width: 100%;
  border: none;
  border-bottom: 4px solid #dfdfdf;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d;
  padding: 0 0 18px;
}

.tabs-section .inner .nav-tabs .nav-item .nav-link.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.tabs-section .inner .tab-content .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: calc(50% - 27px);
}

.tabs-section .inner .tab-content .text-content h4 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 36px;
  line-height: 1.25em;
}

.tabs-section .inner .tab-content .text-content h4 strong {
  font-weight: inherit;
}

.tabs-section .inner .tab-content .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-height: 500px;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: calc(50% - 27px);
}

.tabs-section .inner .tab-content .images img {
  height: auto;
  max-width: 100%;
  width: auto;
  max-height: inherit;
}

.tabs-section .inner .tab-content .tabs-funktionen {
  padding-bottom: 54px;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  margin: 0 !important;
}

.tabs-section .inner .tab-content .tabs-funktionen .text-content {
  padding: 18px 0;
  max-height: 500px;
}

.tabs-section .inner .tab-content .tabs-funktionen .text-content p {
  font-size: 18px;
  line-height: 1.6em;
}

.tabs-section .inner .tab-content .tabs-funktionen .text-content:first-of-type p {
  margin-bottom: 83px;
}

.tabs-section .inner .tab-content .tabs-funktionen .text-content h3 {
  font-size: calc(1.3 * 18px);
  margin-bottom: calc(0.75 * 18px);
  line-height: 1.35em;
}

.tabs-section .inner .tab-content .tabs-funktionen .text-content h4 {
  margin-bottom: 36px;
}

.tabs-section .inner .tab-content .features-collab {
  padding-top: 54px;
  -webkit-column-gap: 54px;
          column-gap: 54px;
  margin: 0 !important;
}

.tabs-section .inner .tab-content .features-collab .text-content h4 {
  margin-bottom: 45px;
}

.tabs-section .inner .accordion {
  margin-bottom: 0;
  max-width: 100%;
}

.tabs-section .inner .accordion .accordion-item {
  border: none;
  background: none;
}

.tabs-section .inner .accordion .accordion-item:hover .accordion-header button.collapsed {
  color: var(--primary-color);
}

.tabs-section .inner .accordion .accordion-item:hover .accordion-header button.collapsed .accordion-toggle-icon::before, .tabs-section .inner .accordion .accordion-item:hover .accordion-header button.collapsed .accordion-toggle-icon::after {
  background-color: var(--primary-color);
}

.tabs-section .inner .accordion .accordion-item:hover .accordion-collapse.collapse .accordion-body {
  color: var(--primary-color);
}

.tabs-section .inner .accordion .accordion-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none !important;
  line-height: 24px;
  padding: 10px 0 8px 0;
  font-size: 22px;
  font-weight: 600;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.tabs-section .inner .accordion .accordion-header button::after, .tabs-section .inner .accordion .accordion-header button::before {
  content: none !important;
}

.tabs-section .inner .accordion .accordion-header button:focus, .tabs-section .inner .accordion .accordion-header button:not(.collapsed) {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.tabs-section .inner .accordion .accordion-header button:not(.collapsed) {
  color: var(--primary-color);
}

.tabs-section .inner .accordion .accordion-header button:not(.collapsed) .accordion-toggle-icon::before, .tabs-section .inner .accordion .accordion-header button:not(.collapsed) .accordion-toggle-icon::after {
  background-color: var(--primary-color);
}

.tabs-section .inner .accordion .accordion-header button:not(.collapsed) .accordion-toggle-icon::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.tabs-section .inner .accordion .accordion-header button:not(.collapsed) .accordion-toggle-icon::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tabs-section .inner .accordion .accordion-header button .icon {
  margin-right: 16px;
}

.tabs-section .inner .accordion .accordion-header button .icon img {
  width: 32px;
  height: 32px;
}

.tabs-section .inner .accordion .accordion-toggle-icon {
  height: 16px;
  position: relative;
  width: 16px;
}

.tabs-section .inner .accordion .accordion-toggle-icon::before {
  content: "";
  background-color: #6c757d;
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  top: 0;
  transform: rotate(0deg);
  width: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.tabs-section .inner .accordion .accordion-toggle-icon::after {
  content: "";
  height: 4px;
  left: 0;
  margin-top: -2px;
  top: 50%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #6c757d;
}

.tabs-section .inner .accordion .accordion-collapse.collapse:not(.show) {
  display: block !important;
  width: 80%;
}

.tabs-section .inner .accordion .accordion-collapse.collapse:not(.show) .accordion-body {
  color: #9b9b9b;
  will-change: width;
  height: 30px;
}

.tabs-section .inner .accordion .accordion-collapse.collapse:not(.show) .accordion-body p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tabs-section .inner .accordion .accordion-collapse.collapse.show {
  color: var(--primary-color);
  width: calc(100% - 20px);
}

.tabs-section .inner .accordion .accordion-body {
  padding: 0 0 0 48px;
}

.section-make-it-yours {
  background-color: #f4f4f4;
}

.section-make-it-yours .inner {
  padding: 54px 0 108px 0;
}

.section-make-it-yours .heading {
  margin-bottom: 144px;
}

.section-make-it-yours .heading h4 {
  font-weight: 700;
  font-size: 54px;
  letter-spacing: -0.5px;
  line-height: 1.2em;
  margin: 0;
}

.section-make-it-yours .icons {
  gap: 36px;
  margin: 0 auto 90px auto;
}

.section-make-it-yours .icons li {
  margin: 0 auto;
  max-width: 360px;
  padding-left: 0;
  padding-right: 0;
}

.section-make-it-yours .icons .icon {
  font-weight: 400;
  margin-bottom: 36px;
}

.section-make-it-yours .icons .icon svg {
  fill: #1c9ee2;
  height: 108px;
  width: 108px;
}

.section-make-it-yours .icons strong {
  display: block;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 18px;
}

.section-make-it-yours .icons p {
  font-size: 18px;
  margin: 0;
}

.section-make-it-yours .call2action-text {
  color: #6c757d;
  font-size: 16px;
  margin-top: 9px;
}

.section-why-placetel {
  overflow: hidden;
}

.section-why-placetel .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(50% - 27px))[2];
      grid-template-columns: repeat(2, calc(50% - 27px));
  padding: 108px 0;
  margin: 90px auto 0 auto;
}

.section-why-placetel .inner .text-content {
  position: relative;
  background: #1c9ee2;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 720px;
  padding: 90px;
  z-index: 1;
}

.section-why-placetel .inner .text-content .heading h5 {
  font-weight: 400;
  line-height: 1.35em;
  margin-bottom: 18px;
  font-size: 26.1px;
}

.section-why-placetel .inner .text-content .heading h4 {
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 1.25em;
  font-weight: 600;
}

.section-why-placetel .inner .text-content .heading strong {
  font-weight: inherit;
}

.section-why-placetel .inner .text-content p {
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
}

.section-why-placetel .inner .text-content .brand-logo {
  padding: 0;
  margin-top: 54px;
}

.section-why-placetel .inner .text-content .brand-logo img {
  max-height: 80px;
  max-width: 100%;
  width: 144px;
  height: auto;
}

.section-why-placetel .inner .images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.section-why-placetel .inner .images img {
  height: auto;
  max-width: inherit;
  position: absolute;
  right: 0;
  top: -50px;
  width: 924px;
}

.section-testimonials .inner {
  padding: 108px 0;
}

.section-testimonials .carousel {
  max-width: 774px;
  margin: auto;
}

.section-testimonials .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 18px 0;
  color: #cecece;
  position: initial;
}

.section-testimonials .carousel-indicators button {
  color: inherit;
  background-color: currentColor;
  border-radius: 50%;
  height: 8px;
  margin: 2px;
  width: 8px;
  opacity: 1;
  border: none;
  margin: 0 2px;
}

.section-testimonials .carousel-indicators button.active {
  background-color: var(--primary-color);
}

.section-testimonials .carousel-control-next,
.section-testimonials .carousel-control-prev {
  position: relative;
  width: auto;
  opacity: 1;
}

.section-testimonials .carousel-control-prev-icon,
.section-testimonials .carousel-control-next-icon {
  background: #f4f4f4;
  border-radius: 50%;
  line-height: 1.5em;
  opacity: 0.5;
  padding: 0.25em;
  text-align: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-testimonials .carousel-control-prev-icon::after,
.section-testimonials .carousel-control-next-icon::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: relative;
  border-top: 2px solid #6c757d;
  border-right: 2px solid #6c757d;
}

.section-testimonials .carousel-control-prev-icon::after {
  right: -2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

.section-testimonials .carousel-control-next-icon::after {
  left: -2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.section-testimonials .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section-testimonials .carousel-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 320px;
  gap: 27px 36px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  min-width: 100%;
  padding: 0 36px;
  scroll-snap-align: center;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.section-testimonials .carousel-item.active {
  display: block;
}

.section-testimonials .carousel-item .customer-img {
  margin-bottom: 27px;
}

.section-testimonials .carousel-item .customer-img img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.section-testimonials .carousel-item .customer-quote {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.6;
}

.section-testimonials .carousel-item .name {
  margin-bottom: 27px;
  font-size: 16px;
}

.section-testimonials .carousel-item .logo img {
  height: 36px;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.fullwithimage {
  -webkit-box-shadow: inset 0 0 400px #000;
          box-shadow: inset 0 0 400px #000;
  overflow: hidden;
  position: relative;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullwithimage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.64);
  z-index: 0;
}

.fullwithimage .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullwithimage .image-holder {
  background-image: url("../imgs/placeholder-image-1.jpg");
  background-color: #333;
  background-position: 50%;
  background-size: cover;
  height: 120vh;
  position: absolute;
  width: 100%;
  z-index: -1;
  transform: translate3d(0px, 150px, 0px);
  -webkit-transform: translate3d(0px, 150px, 0px);
  -moz-transform: translate3d(0px, 150px, 0px);
  -ms-transform: translate3d(0px, 150px, 0px);
  -o-transform: translate3d(0px, 150px, 0px);
}

.fullwithimage h4 {
  max-width: 936px;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  line-height: 1.25em;
  font-size: 36px;
  padding: 0 3rem;
  text-align: center;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.fullwithimage .call2action-box {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.fullwithimage .call2action-box a {
  margin-top: 36px;
}

.fullwithimage .call2action-text {
  color: white;
  font-size: 16px;
  margin-top: 9px;
}

.was-ist-eine-cloud-telefonanlage {
  padding: 65px 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.was-ist-eine-cloud-telefonanlage .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.was-ist-eine-cloud-telefonanlage .text-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 46.4%;
  padding-bottom: 90px;
  font-size: 18px;
}

.was-ist-eine-cloud-telefonanlage .text-content h5 {
  line-height: 1.35em;
  margin: 0 0 1em;
  font-size: 21.6px;
  font-weight: 600;
}

.was-ist-eine-cloud-telefonanlage .text-content p {
  margin: 0 0 27px;
}

.was-ist-eine-cloud-telefonanlage .text-content strong {
  font-weight: 700;
}

.was-ist-eine-cloud-telefonanlage .text-content hr {
  border-top: 1px solid #dfdfdf;
  margin: 3em 0;
  opacity: 1;
}

.was-ist-eine-cloud-telefonanlage .text-content svg,
.was-ist-eine-cloud-telefonanlage .text-content .icon {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.was-ist-eine-cloud-telefonanlage .text-content a {
  color: var(--primary-color);
  font-weight: 400;
  text-decoration: none;
}

.was-ist-eine-cloud-telefonanlage .text-content :last-child {
  margin: 0;
}

.was-ist-eine-cloud-telefonanlage .images {
  margin-left: 7%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 46.4%;
  padding-bottom: 90px;
}

.faq {
  background-color: #f4f4f4;
  padding: 85px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.faq .heading {
  margin-bottom: 36px;
}

.faq .heading h2 {
  line-height: 1.35em;
  margin-bottom: 36px;
  font-size: 36px;
  font-weight: 700;
}

.faq .heading h3 {
  line-height: 1.35em;
  margin: 0 0 1em;
  font-size: 36px;
  font-weight: 300;
  margin-top: -0.25rem;
}

.faq .accordion-wrapper {
  gap: 36px;
}

.faq .accordion {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.faq .accordion .accordion-item {
  background: none;
  padding-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
}

.faq .accordion .accordion-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none !important;
  line-height: 1.6em;
  padding: 18px 0;
  font-size: 21.6px;
  font-weight: 600;
}

.faq .accordion .accordion-header button:focus, .faq .accordion .accordion-header button:not(.collapsed) {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.faq .accordion .accordion-header button:not(.collapsed) {
  color: inherit;
}

.faq .accordion .accordion-header button:hover {
  color: var(--primary-color);
}

.faq .accordion .accordion-body {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  padding-bottom: 54px;
}

.faq .accordion .accordion-body a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */