:root {
  --main-color: #1c9ee2;
  --alt-color: #198bc7;
  --text-color: #000;
  --white-color: #fff;
  // --grey-color: #cecece;
  --grey-color: hsla(0, 0%, 100%, 0.7);
  --color-grey-dark: #6c757d;
}
.main-color {
  color: var(--main-color);
}
