.hero-image {
  @media (min-width: $minLarge) {
    background-image: url("https://place-hold.it/2000x700/dfdfdf");
    background-position: 50%;
    background-size: cover;
    .text-content {
      max-width: 43rem;
      min-height: 630px;
    }
  }
  .text-content {
    p {
      line-height: 1.4em;
      font-size: 1.45rem;
      @media (max-width: $maxMedium) {
        font-size: 1rem;
      }
    }
  }
}

.trust-elements {
  .logos {
    img {
      height: 1.5rem;
      @include prefix("filter", saturate(0) contrast(0.01) brightness(1.5));
    }
  }
}

.tabs-section {
  background-color: var(--section-background);
  .nav-tabs {
    .nav-item {
      .nav-link {
        border-color: var(--dfdfdf);
        color: var(--color-grey-dark);
        &.active {
          color: var(--main-color);
          border-color: var(--main-color) !important;
        }
        @media (max-width: $maxSmall) {
          font-size: 1rem !important;
        }
        @media (max-width: $maxMobile) {
          font-size: 0.8rem !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
        }
      }
    }
  }
  .accordion {
    .accordion-item {
      &:hover {
        .accordion-collapse,
        .accordion-header button,
        .accordion-body p {
          color: var(--main-color);
        }
        .accordion-toggle-icon {
          &::after,
          &::before {
            background-color: var(--main-color);
          }
        }
      }
      .accordion-body {
        p {
          color: #9b9b9b;
        }
      }
    }
    .accordion-toggle-icon {
      height: 16px;
      width: 16px;
      &::before {
        content: "";
        background-color: var(--color-grey-dark);
        position: absolute;
        height: 100%;
        left: 50%;
        margin-left: -2px;
        top: 0;
        transform: rotate(0deg);
        width: 4px;
        @include prefix(transform, rotate(0));
        @include prefix(transition, transform 0.25s ease-out);
      }
      &::after {
        content: "";
        height: 4px;
        margin-top: -2px;
        left: 0;
        top: 50%;
        width: 100%;
        position: absolute;
        transition: transform 0.25s ease-out;
        background-color: var(--color-grey-dark);
        @include prefix(transform, rotate(0));
      }
    }
    .accordion-header {
      button {
        &::after,
        &::before {
          content: none !important;
        }
        &:not(.collapsed) {
          color: var(--main-color);
          .accordion-toggle-icon {
            &::before,
            &::after {
              background-color: var(--main-color);
            }
            &::before {
              @include prefix(transform, rotate(90deg));
            }
            &::after {
              @include prefix(transform, rotate(180deg));
            }
          }
        }
      }
    }
    .accordion-collapse {
      &.collapse {
        max-height: 30px !important;
        transition: max-height 0.15s ease-out;
        will-change: max-height;
      }
      &.show,
      &.collapsing {
        transition: max-height 0.25s ease-in;
        max-height: 120px !important;
        color: var(--main-color);
        p {
          white-space: initial !important;
          max-width: 100% !important;
        }
      }
    }
  }
}

.section-make-it-yours {
  background-color: var(--section-background);
  svg {
    fill: var(--main-color);
    height: 6rem;
    width: 6rem;
  }
  .description {
    max-width: 20rem;
  }
}

.section-why-placetel {
  .inner {
    padding-top: 90px;
    .text-content {
      .brand-logo {
        img {
          width: 144px;
        }
      }
    }
    @media (max-width: $maxMedium) {
      .text-content {
        padding-bottom: 128px !important;
      }
    }
    @media (min-width: $minLarge) {
      .text-content {
        padding: 90px !important;
        width: 33rem !important;
      }
      .images {
        flex: 1;
        img {
          position: absolute;
          top: -50px;
          right: 0;
          max-width: clamp(120%, 55vw, 100% + 250px);
        }
      }
    }
  }
}

.section-testimonials {
  .carousel {
    max-width: 43rem;
  }
  .carousel-indicators {
    color: var(--cecece);
    button {
      color: inherit;
      background-color: currentColor;
      border-radius: 50%;
      height: 8px;
      margin: 2px;
      width: 8px;
      opacity: 1;
      border: none;
      margin: 0 2px;
      &.active {
        background-color: var(--main-color);
      }
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: var(--section-background);
    line-height: 1.5em;
    opacity: 0.5;
    padding: 0.25em;
    transition: opacity 0.2s;
    width: 2em;
    &::after {
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      position: relative;
      border-top: 2px solid var(--color-grey-dark);
      border-right: 2px solid var(--color-grey-dark);
    }
    &:hover {
      opacity: 1;
    }
  }
  .carousel-control-prev-icon {
    &::after {
      right: -2px;
      @include prefix(transform, rotate(-135deg));
    }
  }
  .carousel-control-next-icon {
    &::after {
      left: -2px;
      @include prefix(transform, rotate(45deg));
    }
  }
  .arrows {
    left: 0;
    top: 0;
    width: 100%;
    @media (min-width: $minLarge) {
      left: -36px;
      width: calc(100% + 72px) !important;
    }
  }
  .carousel-item {
    flex-basis: 100%;
    min-height: 320px;
    gap: 27px 36px;
    grid-template-columns: 1fr;
    justify-items: center;
    min-width: 100%;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    @include prefix(transition, all 0.5s);
    &.active {
      display: block;
    }
    .customer-img {
      img {
        height: 120px;
        width: 120px;
      }
    }
    .customer-quote {
      line-height: 1.6;
    }
    .logo {
      img {
        height: 36px;
        object-fit: contain;
      }
    }
  }
}

.fullwithimage {
  box-shadow: inset 0 0 400px var(--text-color);
  min-height: 60vh;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.64);
    z-index: 0;
  }
  .image-holder {
    background-image: url("http://www.place-hold.it/750x500/fff");
    background-position: 50%;
    background-size: cover;
    height: 120vh;
    z-index: -1;
    @include prefix(transform, translate3d(0px, 150px, 0));
  }
  h4 {
    max-width: 52rem;
    line-height: 1.25em;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  }
}

.was-ist-eine-cloud-telefonanlage {
  padding: 65px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  a {
    color: var(--main-color);
  }
  .text-content {
    h5 {
      line-height: 1.35em;
    }
    hr {
      border-top: 1px solid var(--dfdfdf);
    }
    .icon {
      height: 40px;
      width: 40px;
    }
  }
}

.faq {
  background-color: var(--section-background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  .heading {
    h2 {
      line-height: 1.35em;
    }
    h3 {
      line-height: 1.35em;
    }
  }
  .accordion {
    .accordion-item {
      border-bottom: 1px solid var(--dfdfdf);
    }
    .accordion-header {
      button {
        color: inherit;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}
