.btn {
  border: 2px solid transparent;
  font-size: 1rem;
  padding: 0.85em 1.6em;
  text-align: center;
  transition: background-color 0.2s;
  font-weight: 600;
  line-height: 1.6;
  border-radius: 5px;
}
.btn-primary {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white !important;
  @include prefix(transition, all 0.2s);
  &:hover {
    border-color: var(--alt-color);
    background-color: var(--alt-color);
  }
}
.btn-outline-primary {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  @include prefix(transition, color 0.2s);
  &:hover {
    background-color: transparent !important;
    border-color: var(--alt-color);
    color: var(--alt-color);
  }
}
.btn-outline-white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  @include prefix(transition, all 0.2s);
  &:hover {
    background-color: white;
    color: var(--main-color);
  }
}
