.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid transparent;
  font-size: 18px;
  padding: 0.85em 1.6em;
  text-align: center;
  transition: background-color 0.2s;
  font-weight: 600;
  line-height: 1.6;
}
.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  &:hover {
    border-color: #198bc7;
    background-color: #198bc7;
  }
}
.btn-outline-primary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  &:hover {
    background-color: transparent !important;
    border-color: #198bc7;
    color: #198bc7;
  }
}
.btn-outline-white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  &:hover {
    background-color: white;
    color: var(--primary-color);
  }
}
