footer {
  background: #e9ecef;
  font-size: 15px;
  letter-spacing: 0.045em;
  line-height: 1.9;
  min-height: 200px;
  a {
    color: var(--text-color);
    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
  }
  .btn-primary.btn {
    border-color: transparent;
    padding: 0.85em 1.6em;
  }
  h6 {
    line-height: 1.9;
    color: #212529;
  }
  .footer-top {
    ul {
      li {
        span {
          background-color: #ffa20d;
          font-family: Arial, sans-serif;
          border-radius: 8px 0;
          bottom: 5px;
          margin-left: 9px;
          line-height: 1;
          font-size: 0.6em;
          padding: 0.5em 1em;
        }
      }
    }
  }
  .google-play-app-store {
    img {
      max-width: 170px;
    }
  }
  .social {
    height: 50px;
    width: 50px;
    background-color: var(--dfdfdf);
    color: var(--color-grey-dark);
    &:hover {
      color: #fff;
      &.linkedin {
        background-color: #0077b5;
      }
      &.instagram {
        background-color: #e1306c;
      }
      &.facebook {
        background-color: #3b5998;
      }
      &.youtube {
        background-color: #cd201f;
      }
      &.xing {
        background-color: #026466;
      }
      &.twitter {
        background-color: #55acee;
      }
    }
  }
  .footer-bottom {
    gap: 18px;
    font-size: 14px;
    a {
      color: var(--text-color);
      margin: 0 6px;
    }
    .logo {
      img,
      svg {
        height: 29px !important;
        width: auto !important;
        mix-blend-mode: multiply;
      }
    }
    &::before {
      content: "";
      background: #adb5bd;
      bottom: 100%;
      display: block;
      height: 1px;
      left: 15px;
      position: absolute;
      right: 15px;
      transform: scaleY(0.5);
    }
    .cisco-badge-text {
      color: #adb5bd;
      padding: 0 20px 0 0;
    }
    .cisco-image {
      margin: 4px 0 0;
      img,
      svg {
        fill: #adb5bd;
        height: 40px;
        margin-top: -10px;
        width: 75px;
      }
    }
    .country-selector {
      margin: 0 auto;
      padding: 0 20px;
      position: relative;
      width: 230px;
      &:hover .country-selector-list {
        display: block;
      }
    }
    .country-selector-active {
      grid-column-gap: 15px;
      align-items: center;
      display: grid;
      grid-template-columns: 30px 120px 10px;
      align-items: center;
      height: 55px;
      cursor: pointer;
    }
    .country-selector-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      svg,
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .country-selector-country {
      font-weight: 600;
    }
    .country-selector-arrow {
      &::after {
        content: "";
        border-top: 1px solid #6c757d;
        border-right: 1px solid #6c757d;
        transform: rotate(-45deg);
        display: block;
        border-bottom: 0px solid transparent;
        width: 8.3px;
        height: 8.3px;
      }
    }
    .country-selector-list {
      padding: 10px 18px;
      margin: 0 0 1.5rem;
      background: #fff;
      border-radius: 5px;
      bottom: 28px;
      box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.04);
      display: none;
      position: absolute;
      width: 220px;
      &::after {
        content: "";
        border-color: #fff transparent;
        border-style: solid;
        border-width: 12px 10px 0;
        bottom: -12px;
        display: block;
        left: 176px;
        position: absolute;
        width: 0;
        z-index: 1;
      }
    }
    .country-selector-entry {
      font-size: 16px;
      line-height: 34px;
      cursor: default;
      a {
        color: #6c757d;
        display: block;
        font-weight: 400;
        border: 0 !important;
        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
}
