html {
  scroll-behavior: smooth;
  font-size: 18px;
  @media (max-width: 991px) {
    font-size: 16px;
  }
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.container-fluid {
  max-width: 1600px;
  padding: 0 1.5rem !important;
}

a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

.w-lg-auto {
  @media (min-width: 992px) {
    width: auto !important;
  }
}
.mw-80 {
  max-width: 80% !important;
}
.mh-500 {
  max-height: 500px !important;
}
