header {
  .main-nav {
    font-size: 1rem;
    border-bottom: 1px solid #cecece;
    .navbar-nav > li > a:not(.btn) {
      padding: 1rem 1.03rem !important;
    }
    @media (max-width: 1300px) {
      font-size: 16.07px;
      .navbar-nav > li > a:not(.btn) {
        padding: 1rem 0.8rem !important;
      }
    }
    @media (max-width: 1100px) {
      font-size: 15px;
      .navbar-nav > li > a:not(.btn) {
        padding: 1rem 0.4rem !important;
      }
    }
    @media (max-width: 350px) {
      .btn {
        display: none;
      }
    }
    .navbar-toggler {
      @media (max-width: 991.98px) {
        all: unset;
        cursor: pointer;
        position: relative;
        display: block;
        height: 100%;
        right: 0;
        width: 1.2rem;
        height: 2rem;
        padding: 0;
        transition: right 0.3s linear;
        &::before,
        &::after {
          content: "";
          background: var(--text-color);
          border-radius: 1px;
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          transition: all 0.3s ease-in-out;
          width: 100%;
        }
        &::before {
          top: 35%;
        }
        &::after {
          bottom: 35%;
        }
        &:not(.collapsed) {
          &::before,
          &::after {
            top: 50%;
          }
          &::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .btn {
      padding: 0.65em 24px !important;
      border: none;
      letter-spacing: -0.05px;
      line-height: 1.5;
      &.btn-outline-primary {
        box-shadow: inset 0 0 0 1px currentColor;
      }
      @media (max-width: 1300px) {
        font-size: 16.2px;
      }
      @media (max-width: 1100px) {
        padding: 0.65em 24px !important;
        font-size: 15px;
      }
      @media (max-width: 992px) {
        padding: 0.5rem 0.85rem !important;
        font-size: 0.8rem;
        margin-right: 1.1rem;
      }
    }
    .nav-item {
      &:nth-last-child(2) {
        margin: 0 24px;
      }
      a:not(.btn) {
        color: var(--text-color);
        &:hover {
          color: var(--main-color);
        }
      }
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start !important;
      }
    }
    .logo {
      padding: 0 !important;
      position: relative;
      flex-grow: 1;
      flex-shrink: 0;
      height: 4.2rem;
      margin-right: 2.15rem;
      max-width: 9.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        max-width: 6.5rem;
        height: 3.8rem;
      }
    }
    .navbar-nav {
      li {
        &.has-sub-navigation {
          @media (max-width: 992px) {
            display: inline-flex;
            width: fit-content;
            max-width: 100%;
          }
          &:hover {
            .sub-navigation {
              display: grid;
              height: auto;
              opacity: 1;
            }
            a {
              &::after {
                bottom: -3px;
                transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
                -moz-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                -o-transform: rotate(225deg);
              }
            }
          }
          & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              margin-right: 8px;
            }
            &::after {
              content: "";
              border-bottom: 1px solid #6c757d;
              border-right: 1px solid #6c757d;
              position: relative;
              right: 2px;
              bottom: 2px;
              width: 8px;
              height: 8px;
              transition: transform 0.2s ease-out;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -webkit-transition: transform 0.2s ease-out;
              -moz-transition: transform 0.2s ease-out;
              -ms-transition: transform 0.2s ease-out;
              -o-transition: transform 0.2s ease-out;
            }
          }
        }
      }
    }
    .sub-navigation {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      padding: 10px;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      overflow: hidden;
      height: 0;
      opacity: 0;
      max-width: 445px;
      width: max-content;
      @media (max-width: 992px) {
        padding: 0 !important;
        border: 0;
        background-color: transparent;
        position: relative;
      }
      &.sub-navigation-with-icon-wrapper {
        max-width: 672px;
        @media (max-width: 992px) {
          max-width: 100% !important;
        }
        .sub-navigation-with-icon {
          padding: 20px;
          border-radius: 5px;
          line-height: 20px;
          position: relative;
          letter-spacing: normal;
          @media (max-width: 992px) {
            line-height: 27px !important;
            padding: 5px 20px 5px 24px !important;
          }
          .sub-navigation-icon {
            margin-right: 20px;
            img {
              width: 40px;
              height: auto;
            }
          }
          .sub-navigation-info {
            flex: 1;
            .sub-navigation-title {
              font-size: 16px;
              font-weight: 600;
              @media (max-width: 992px) {
                font-weight: 400;
              }
              &[data-icon] {
                position: relative;
                display: inline-block;
                &::before {
                  content: "";
                  background: #1c9ee2;
                  display: block;
                  height: 6px;
                  left: calc(100% + 10px);
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%) rotate(45deg);
                  width: 6px;
                }
                &::after {
                  background: #1c9ee2;
                  border-radius: 2px;
                  color: #fff;
                  content: attr(data-icon);
                  display: block;
                  font-family: Arial, sans-serif;
                  font-size: 11px;
                  font-weight: 700;
                  left: calc(100% + 13px);
                  line-height: 1;
                  padding: 5px;
                  position: absolute;
                  text-transform: uppercase;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
          p {
            color: #6c757d;
            font-size: 14px;
            font-weight: 400;
            max-width: 100%;
            white-space: normal;
            margin: 0;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        li {
          border-radius: 5px;
          cursor: pointer;
          line-height: 20px;
          margin: 0;
          padding: 5px 20px;
          position: relative;
          overflow: hidden;
          @media (max-width: 992px) {
            padding-left: 24px !important;
            font-size: 1rem;
            line-height: 27px;
          }
          &:hover {
            background-color: #f4fafd;
          }
          &.sub-navigation-headline {
            margin: 15px 0 5px;
            max-width: 230px;
            overflow: hidden;
            white-space: nowrap;
            @media (max-width: 992px) {
              margin: 0;
            }
            a,
            a > strong {
              font-weight: 600;
              font-size: 16px;
            }
          }
          a {
            color: var(--text-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      .sub-navigation-border-top {
        margin-top: 28px;
        padding: 0;
        position: relative;
        @media (max-width: 992px) {
          display: none;
          margin: 0;
          li {
            padding: 0 !important;
            a {
              font-weight: 400;
            }
          }
        }
        &:hover {
          &::after {
            content: none;
          }
        }
        a {
          display: grid;
          padding: 20px 10px 10px;
          place-content: center;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
        }
        &::after {
          content: "";
          background: #ced4da;
          display: block;
          height: 1px;
          position: absolute;
          left: 20px;
          right: 20px;
          top: 0;
        }
      }
    }
    @media (max-width: 992px) {
      .navbar-collapse {
        background: var(--white-color);
        color: var(--text-color);
        display: block !important;
        min-height: calc(100% - 106.6px);
        height: 100%;
        left: 0;
        margin: 0;
        overflow-y: scroll;
        padding: 12px 32px;
        pointer-events: none;
        position: fixed;
        top: 106.6px;
        opacity: 0;
        transition: opacity 0.2s linear, top 0.2s linear;
        width: 100%;
        z-index: 1041;
        &.show {
          pointer-events: inherit;
          opacity: 1;
        }
      }
    }
  }
}
