header {
  .main-nav {
    border-color: var(--cecece);
    .navbar-toggle {
      @media (max-width: $maxMedium) {
        width: 1.2rem;
        height: 2rem;
        @include prefix(transition, right 0.3s linear);
        &::before,
        &::after {
          content: "";
          background: var(--text-color);
          border-radius: 1px;
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          transition: all 0.3s ease-in-out;
          width: 100%;
        }
        &::before {
          top: 35%;
        }
        &::after {
          bottom: 35%;
        }
        &:not(.collapsed) {
          &::before,
          &::after {
            top: 50%;
          }
          &::before {
            @include prefix(transform, rotate(45deg));
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .nav-item {
      & > a:not(.btn) {
        letter-spacing: 0.045em;
        color: var(--text-color);
        font-size: max(15px, min(1.25vw, 18px)) !important;
        padding: 1rem max(0.8rem, min(1.1vw, 24px)) !important;
        &:hover {
          color: var(--main-color);
        }
        @media (max-width: 1280px) {
          padding: 1rem max(0.4rem, min(0.7vw, 24px)) !important;
        }
        @media (max-width: $maxMedium) {
          font-size: 20px !important;
          padding: 20px 32px !important;
          font-weight: 300;
          letter-spacing: 0 !important;
        }
      }
    }
    .btn {
      padding: 0.65em 24px;
      letter-spacing: -0.05px;
      line-height: 1.5;
      font-size: max(15px, min(1.25vw, 18px));
      &.btn-outline-primary {
        box-shadow: inset 0 0 0 1px currentColor;
      }
    }
    .logo {
      height: 4.2rem;
      max-width: 9.7rem;
      @media (max-width: $maxMedium) {
        max-width: 6.5rem;
        height: 3.8rem;
      }
    }
    .navbar-nav {
      li {
        &.has-sub-navigation {
          & > a {
            &::after {
              content: "";
              border-bottom: 1px solid #6c757d;
              border-right: 1px solid #6c757d;
              position: relative;
              right: 2px;
              bottom: 2px;
              width: 8px;
              height: 8px;
              transition: transform 0.2s ease-out;
              transform: rotate(45deg);
            }
          }
          @media (min-width: $minLarge) {
            &:hover {
              .sub-navigation {
                display: grid;
                height: auto;
                opacity: 1;
              }
              a {
                &::after {
                  bottom: -3px;
                  transform: rotate(225deg);
                }
              }
            }
          }
        }
      }
    }
    .sub-navigation {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      padding: 10px;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      overflow: hidden;
      height: 0;
      opacity: 0;
      max-width: 445px;
      width: max-content;
      @media (max-width: $maxMedium) {
        width: 100%;
        padding: 0 !important;
        border: 0;
        background-color: transparent;
        position: initial;
        max-width: initial;
      }
      &.sub-navigation-with-icon-wrapper {
        max-width: 672px;
        @media (max-width: $maxMedium) {
          max-width: 100% !important;
        }
        .sub-navigation-with-icon {
          padding: 20px;
          border-radius: 5px;
          line-height: 20px;
          position: relative;
          letter-spacing: normal;
          @media (max-width: $maxMedium) {
            line-height: 27px !important;
            padding: 5px 20px 5px 56px !important;
          }
          .sub-navigation-icon {
            margin-right: 20px;
            img {
              width: 40px;
              height: auto;
            }
          }
          .sub-navigation-info {
            flex: 1;
            .sub-navigation-title {
              font-size: 16px;
              font-weight: 600;
              @media (max-width: $maxMedium) {
                font-weight: 400;
              }
              &[data-icon] {
                position: relative;
                display: inline-block;
                &::before {
                  content: "";
                  background: #1c9ee2;
                  display: block;
                  height: 6px;
                  left: calc(100% + 10px);
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%) rotate(45deg);
                  width: 6px;
                }
                &::after {
                  background: #1c9ee2;
                  border-radius: 2px;
                  color: #fff;
                  content: attr(data-icon);
                  display: block;
                  font-family: Arial, sans-serif;
                  font-size: 11px;
                  font-weight: 700;
                  left: calc(100% + 13px);
                  line-height: 1;
                  padding: 5px;
                  position: absolute;
                  text-transform: uppercase;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
          p {
            color: #6c757d;
            font-size: 14px;
            font-weight: 400;
            max-width: 100%;
            white-space: normal;
            margin: 0;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        li {
          border-radius: 5px;
          cursor: pointer;
          line-height: 20px;
          margin: 0;
          padding: 5px 20px;
          position: relative;
          overflow: hidden;
          @media (max-width: 992px) {
            padding-left: 56px !important;
            font-size: 1rem;
            line-height: 27px;
          }
          &:hover {
            background-color: #f4fafd;
          }
          &.sub-navigation-headline {
            margin: 15px 0 5px;
            max-width: 230px;
            overflow: hidden;
            white-space: nowrap;
            @media (max-width: 992px) {
              margin: 0;
            }
            a,
            a > strong {
              font-weight: 600;
              font-size: 16px;
            }
          }
          a {
            color: var(--text-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      .sub-navigation-border-top {
        margin-top: 28px;
        padding: 0;
        position: relative;
        @media (max-width: $maxMedium) {
          display: none;
          margin: 0;
          li {
            padding: 0 !important;
            a {
              font-weight: 400;
            }
          }
        }
        &:hover {
          &::after {
            content: none;
          }
        }
        a {
          display: grid;
          padding: 20px 10px 10px;
          place-content: center;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
        }
        &::after {
          content: "";
          background: #ced4da;
          display: block;
          height: 1px;
          position: absolute;
          left: 20px;
          right: 20px;
          top: 0;
        }
      }
      &.show {
        display: grid;
        height: auto;
        opacity: 1;
        a {
          &::after {
            bottom: -3px;
            transform: rotate(225deg);
          }
        }
      }
    }
    @media (max-width: $maxMedium) {
      .navbar-collapse {
        background: var(--white-color);
        color: var(--text-color);
        display: block !important;
        height: calc(100% - 106.6px);
        padding: 12px 0 !important;
        position: fixed;
        width: 100%;
        top: 106.6px;
        left: 0;
        margin: 0;
        overflow-y: scroll;
        pointer-events: none;
        opacity: 0;
        z-index: 1041;
        transition: opacity 0.2s linear, top 0.2s linear;
        &.show {
          pointer-events: inherit;
          opacity: 1;
        }
        .nav-link {
          &.show {
            &::before {
              content: "";
              background: #fafafa;
              display: block;
              height: 52px;
              left: -32px;
              position: absolute;
              right: -32px;
              top: 10px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
