header {
  font-size: 0.725rem;
  font-weight: 400;
  line-height: 1.5em;
  @media (max-width: 1023px) {
    font-size: 0.7rem;
  }
  .navbar-nav > li.nav-item {
    font-size: inherit;
    display: block;
    letter-spacing: 0.045em;
    line-height: 1.5em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
      justify-content: flex-start;
    }
  }

  .top-nav {
    height: 2.5rem;
    @media (max-width: 992px) {
      height: 2.8rem;
    }
    background-color: #222529;
    .navbar-nav > .nav-item {
      color: var(--grey-color);
      font-size: 0.775rem;
      margin: 0 0 0 1.25rem;
      transition: color 0.2s;
      @media (max-width: 576px) {
        font-size: 0.7rem;
        margin-left: 0.75rem;
      }
      a:not(.btn-outline-white) {
        padding: 0 !important;
      }
      &:hover {
        color: var(--white-color);
      }
    }
    .cisco-logo img {
      width: 2.5rem;
    }
    .cisco-badge-text {
      display: flex;
      align-items: center;
      color: var(--grey-color);
      flex: 1;
      padding: 0.5rem 1rem;
    }
    .search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      color: inherit;
      width: 1.25rem;
      height: 1.25rem;
      font-size: 1.25rem;
      opacity: 0.7;
      transition: opacity 0.5s;
      &:hover {
        opacity: 1;
      }
    }
    .btn-outline-white {
      border: 1px solid;
      padding: 0.2rem 0.8rem;
      border-radius: 0;
      transition: color 0.2s;
      font-size: inherit;
      color: inherit;
      line-height: 1.2em;
      letter-spacing: inherit;
      &:hover {
        background-color: transparent;
        color: white !important;
      }
    }
  }
}
